<%- include('partials/head') %>

    <div class="container">

        <h1>Your random number is <%=random%>
        </h1>

        <% if (random % 2==0) { %>
            <h3>it's even!</h3>
            <% } else { %>
                <h3>it's odd!</h3>
                <% } %>

    </div>

    <%- include('partials/footer') %>